@font-face {
    font-family: 'Aller_Rg';
    src: url('../font/aller/Aller_Rg.ttf') format('truetype'),
    url('../font/backups/SourceCodePro-Regular.otf') format("opentype"),
    url('../font/backups/sourcecodepro-regular.woff') format('woff'),
    url('../font/backups/sourcecodepro-regular.svg') format('svg'),
    url('../font/backups/sourcecodepro-regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


.topbar{

	position:relative;
	height:150px;
	overflow:auto;
	width:100%;
	border-bottom:2px solid #d0cecb;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}
.logo{
	height:200px;
	width:200px;
	background-color:#d0cecb;
	background-image: url('../images/gplaypattern.png');
	background-repeat:repeat;
	border-radius:100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	position:absolute;
	top:-30px;
	left:-50px; 
	color:#a32020;
	text-align:center; 
	text-transform: capitalize;
	font-weight: bold;
	font-size: 26pt;
	font-family: "Aller_Rg";
	border: 2px solid #d0cecb;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.logopos{

	padding-top:70px;
	padding-left:35px;
}

.desc{
	font-family: "Aller_Rg";
	position:absolute;
	top:126px;
	left:135px;
	float:left;
	width:150px;
	font-size:15px;
	font-weight: normal;
	color:#a32020;
}
.rubylogo{
	position:absolute;
	bottom:0px;
	right:0px;
	width:109px;
	height:104px;
}
.linkbar{

	float:right;
	overflow:auto;
	margin-top:20px;
	width:370px;
	height:20px;
	color:#a32020;
	font-family: "Aller_Rg";
	text-decoration: none;
}
.linkbar li{

	display:inline;
	margin-right:7px;
}
a{

	color:#a32020;
	font-family: "Aller_Rg";
	text-decoration: none;

}
.icon-circle{
	margin-right:10px;
	font-size:20%;
}

@media(max-width: 600px){

.topbar{

	height: 150px;

}

.linkbar{
	float:left;
	margin-top:20px;
	margin-left:145px;



}

	
}
@media(max-width:500px){



}
.linkbar li{

	margin-right:0px;
}


